.partners {
  background: #2e2e31;
  padding: 20px 0 146px;

  @include tablet {
    padding: 20px 0 116px;
  }

  @include mobile {
    padding: 20px 0 86px;
  }

  &__title {
    margin-bottom: 58px;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #efefef;

    @include small-desktop {
      text-align: center;
    }

    @include tablet {
      margin-bottom: 48px;
      font-size: 40px;
    }
    @include small-tablet {
      margin-bottom: 38px;
      font-size: 36px;
    }
  }

  &__subtitle {
    margin-bottom: 58px;
    margin-top: 88px;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #efefef;


    @include tablet {
      margin-bottom: 48px;
      font-size: 40px;
    }
    @include small-tablet {
      margin-bottom: 38px;
      font-size: 36px;
    }
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    @include small-desktop {
      grid-template-columns: repeat(3, 1fr);
    }

    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    @include small-desktop {
      grid-template-columns: repeat(3, 1fr);
    }

    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    @include flex-all-center;
    border: 1px solid #424242;
    width: 228px;
    height: 200px;

    @include mobile {
        gap: 2px;
      max-width: 170px;
      max-height: 120px;
    }

    &:hover {
      transition: all 0.3s ease-in-out;
      border: 3px solid #e74214;
      background-color: #fff;
    }
  }

  &__btn {
    margin: 0 auto;
  }
}
