<section class="accordion">
    <div class="accordion-container container">
    <div class="accordion-sidebar">
        <div class="accordion-button" data-section="section1">
            <svg class="accordion-icon" width="19.535522" height="32.000000" viewBox="0 0 19.5355 32" fill="none"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <desc>Created with Pixso.</desc>
                <defs />
                <line id="Line90" x1="17.767761" y1="17.767578" x2="1.767761" y2="1.767578" stroke="#E74214"
                    stroke-opacity="1.000000" stroke-width="5.000000" />
                <line id="Line91" x1="17.767761" y1="14.232422" x2="1.767761" y2="30.232422" stroke="#E74214"
                    stroke-opacity="1.000000" stroke-width="5.000000" />
            </svg>
            Как мы поможем <br> вашему бизнесу
        </div>
        <div class="accordion-button" data-section="section2">
            <svg class="accordion-icon" width="19.535522" height="32.000000" viewBox="0 0 19.5355 32" fill="none"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <desc>Created with Pixso.</desc>
                <defs />
                <line id="Line90" x1="17.767761" y1="17.767578" x2="1.767761" y2="1.767578" stroke="#E74214"
                    stroke-opacity="1.000000" stroke-width="5.000000" />
                <line id="Line91" x1="17.767761" y1="14.232422" x2="1.767761" y2="30.232422" stroke="#E74214"
                    stroke-opacity="1.000000" stroke-width="5.000000" />
            </svg>
            Кому наши решения <br> помогут
        </div>
        <div class="accordion-button" data-section="section3">
            <svg class="accordion-icon" width="19.535522" height="32.000000" viewBox="0 0 19.5355 32" fill="none"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <desc>Created with Pixso.</desc>
                <defs />
                <line id="Line90" x1="17.767761" y1="17.767578" x2="1.767761" y2="1.767578" stroke="#E74214"
                    stroke-opacity="1.000000" stroke-width="5.000000" />
                <line id="Line91" x1="17.767761" y1="14.232422" x2="1.767761" y2="30.232422" stroke="#E74214"
                    stroke-opacity="1.000000" stroke-width="5.000000" />
            </svg>
            Подробнее о нашей <br> работе
        </div>
    </div>
    <div class="accordion-content">
        <div class="accordion-section" id="section1">
            <div class="section-content">
                <div class="accordion-button option" data-section="option1">
                    <svg class="accordion-icon" width="19.535522" height="32.000000" viewBox="0 0 19.5355 32"
                        fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Pixso.</desc>
                        <defs />
                        <line id="Line90" x1="17.767761" y1="17.767578" x2="1.767761" y2="1.767578"
                            stroke="#E74214" stroke-opacity="1.000000" stroke-width="5.000000" />
                        <line id="Line91" x1="17.767761" y1="14.232422" x2="1.767761" y2="30.232422"
                            stroke="#E74214" stroke-opacity="1.000000" stroke-width="5.000000" />
                    </svg>
                    Снизить количество ошибок
                </div>
                <div class="nested-content" id="nested-option1">
                    <p class="text-p-normal">Перспективные изображения являются неотъемлемой
                        частью пакета документов АР, используются в ходе проведения ремонтных работ
                        и необходимы при авторском надзоре 
                    </p>
                </div>

                <div class="accordion-button option" data-section="option2">
                    <svg class="accordion-icon" width="19.535522" height="32.000000" viewBox="0 0 19.5355 32"
                        fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Pixso.</desc>
                        <defs />
                        <line id="Line90" x1="17.767761" y1="17.767578" x2="1.767761" y2="1.767578"
                            stroke="#E74214" stroke-opacity="1.000000" stroke-width="5.000000" />
                        <line id="Line91" x1="17.767761" y1="14.232422" x2="1.767761" y2="30.232422"
                            stroke="#E74214" stroke-opacity="1.000000" stroke-width="5.000000" />
                    </svg>
                    Согласовать проект с заказчиком
                </div>
                <div class="nested-content" id="nested-option2">
                    <p class="text-p-normal">Фотореалистичные 3D-визуализации в разы повышают качество и скорость координации и согласований с заказчиком.</p>
                </div>

                <div class="accordion-button option" data-section="option3">
                    <svg class="accordion-icon" width="19.535522" height="32.000000" viewBox="0 0 19.5355 32"
                        fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Pixso.</desc>
                        <defs />
                        <line id="Line90" x1="17.767761" y1="17.767578" x2="1.767761" y2="1.767578"
                            stroke="#E74214" stroke-opacity="1.000000" stroke-width="5.000000" />
                        <line id="Line91" x1="17.767761" y1="14.232422" x2="1.767761" y2="30.232422"
                            stroke="#E74214" stroke-opacity="1.000000" stroke-width="5.000000" />
                    </svg>
                    Повысить привлекательность проекта
                </div>
                <div class="nested-content" id="nested-option3">
                    <p class="text-p-normal">Созданные нами визуализации помогут: <br>
                        повысить привлекательность проекта
                        <br> привлечь новых клиентов
                        <br> сократить срок продаж
                        <br> поднять стоимость метра.</p>
                </div>

                <div class="accordion-button option" data-section="option4">
                    <svg class="accordion-icon" width="19.535522" height="32.000000" viewBox="0 0 19.5355 32"
                        fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Pixso.</desc>
                        <defs />
                        <line id="Line90" x1="17.767761" y1="17.767578" x2="1.767761" y2="1.767578"
                            stroke="#E74214" stroke-opacity="1.000000" stroke-width="5.000000" />
                        <line id="Line91" x1="17.767761" y1="14.232422" x2="1.767761" y2="30.232422"
                            stroke="#E74214" stroke-opacity="1.000000" stroke-width="5.000000" />
                    </svg>
                    Выделиться на фоне конкуррентов
                </div>
                <div class="nested-content" id="nested-option4">
                    <p class="text-p-normal">Наличие дополнительных презентационных материалов, в том числе интерактивных (VR-туры, 3D-облеты, анимация), выделит проект на рынке.</p>
                </div>
            </div>
        </div>

        <div class="accordion-section" id="section2">
            <div class="section-content">
                <div class="accordion-button option" data-section="option5">
                    <svg class="accordion-icon" width="19.535522" height="32.000000" viewBox="0 0 19.5355 32"
                        fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Pixso.</desc>
                        <defs />
                        <line id="Line90" x1="17.767761" y1="17.767578" x2="1.767761" y2="1.767578"
                            stroke="#E74214" stroke-opacity="1.000000" stroke-width="5.000000" />
                        <line id="Line91" x1="17.767761" y1="14.232422" x2="1.767761" y2="30.232422"
                            stroke="#E74214" stroke-opacity="1.000000" stroke-width="5.000000" />
                    </svg>
                    Застройщику и девелоперу
                </div>
                <div class="nested-content" id="nested-option5">
                    <p class="text-p-normal">наши визуализации помогут: <br>
                        повысить продажи <br>
                        подробно и наглядно показать, что за продукт они предлагают своим клиентам <br>
                        создать визуальный образ проекта <br>
                        улучшить имидж компании на рынке за счет портфолио
                        </p>
                </div>

                <div class="accordion-button option" data-section="option6">
                    <svg class="accordion-icon" width="19.535522" height="32.000000" viewBox="0 0 19.5355 32"
                        fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Pixso.</desc>
                        <defs />
                        <line id="Line90" x1="17.767761" y1="17.767578" x2="1.767761" y2="1.767578"
                            stroke="#E74214" stroke-opacity="1.000000" stroke-width="5.000000" />
                        <line id="Line91" x1="17.767761" y1="14.232422" x2="1.767761" y2="30.232422"
                            stroke="#E74214" stroke-opacity="1.000000" stroke-width="5.000000" />
                    </svg>
                    Дизайнеру и архитектору
                </div>
                <div class="nested-content" id="nested-option6">
                    <p class="text-p-normal">наш продукт поможет: <br>
                        максимально быстро согласовать дизайн-решения с заказчиком и учесть все его пожелания <br>
                        увидеть будущую концепцию проекта, внести необходимые изменения на этапе эскизирования <br>
                        избежать ошибок на этапе реализации <br>
                        пополнить портфолио фотореалистичными визуализациями своих проектов, наиболее полно отражающих уровень своего профессионализма.</p>
                </div>
            </div>
        </div>

        <div class="accordion-section" id="section3">
            <div class="section-content">
                <div class="accordion-button option" data-section="option7">
                    <svg class="accordion-icon" width="19.535522" height="32.000000" viewBox="0 0 19.5355 32"
                        fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Pixso.</desc>
                        <defs />
                        <line id="Line90" x1="17.767761" y1="17.767578" x2="1.767761" y2="1.767578"
                            stroke="#E74214" stroke-opacity="1.000000" stroke-width="5.000000" />
                        <line id="Line91" x1="17.767761" y1="14.232422" x2="1.767761" y2="30.232422"
                            stroke="#E74214" stroke-opacity="1.000000" stroke-width="5.000000" />
                    </svg>
                    Проекты, с которыми мы работаем
                </div>
                <div class="nested-content" id="nested-option7">
                    <p class="text-p-normal">Жилые комплексы <br>
                        Общественные здания <br>
                        Благоустройства
                        территории <br>
                        Общественные пространства <br>
                        Ландшафтный дизайн <br>
                        Градостроительная
                        визуализация
                        </p>
                </div>

                <div class="accordion-button option" data-section="option8">
                    <svg class="accordion-icon" width="19.535522" height="32.000000" viewBox="0 0 19.5355 32"
                        fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <desc>Created with Pixso.</desc>
                        <defs />
                        <line id="Line90" x1="17.767761" y1="17.767578" x2="1.767761" y2="1.767578"
                            stroke="#E74214" stroke-opacity="1.000000" stroke-width="5.000000" />
                        <line id="Line91" x1="17.767761" y1="14.232422" x2="1.767761" y2="30.232422"
                            stroke="#E74214" stroke-opacity="1.000000" stroke-width="5.000000" />
                    </svg>
                    Что мы учитываем при визуализации
                </div>
                <div class="nested-content" id="nested-option8">
                    <p class="text-p-normal">Мы внимательны к композиции кадра, естественности освещения и материалам <br>
                        Мы подчеркиваем достоинства объекта <br>
                        Наполняем модель множеством деталей: опавшая
                        листва, погодные эффекты, транспорт, объекты окружения, несовершенства
                        покрытий.
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
    

