<section class="important" id="important">
  <div class="container">
    <div class="complex__left">
      <div class="acordion">
        <div class="acordion-header">
          <svg
            class="acordion-icon"
            width="19.535522"
            height="32.000000"
            viewBox="0 0 19.5355 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <desc>Created with Pixso.</desc>
            <defs />
            <line
              id="Line90"
              x1="17.767761"
              y1="17.767578"
              x2="1.767761"
              y2="1.767578"
              stroke="#E74214"
              stroke-opacity="1.000000"
              stroke-width="5.000000"
            />
            <line
              id="Line91"
              x1="17.767761"
              y1="14.232422"
              x2="1.767761"
              y2="30.232422"
              stroke="#E74214"
              stroke-opacity="1.000000"
              stroke-width="5.000000"
            />
          </svg>
          <h2 class="acordion-header-title important__title">ВАЖНО <br class="second" /> ЗНАТЬ</h2>
        </div>
        <div class="acordion-content">
          <div class="acordion-content-descr text-p-large">
            Мы заинтересованы в взаимовыгодных <br class="second"> рабочих отношениях с нашими <br class="second">
            <br class="first" />
            клиентами и в том, чтобы довести <br class="second"> любой проект до завершения.
            <br class="first" />
            <br class="first" />
            <p class="important__text">
              Изменения и корректировки могут <br class="second"> вноситься на любой стадии <br class="second"> <br class="first" />
              проекта, но в разумных <br class="second"> пределах, обычно не более 2-3 раз. <br class="second"> <br class="first" />
              Стоимость этих <br class="second"> корректировок включена <br class="second"> в общую стоимость работ. <br class="second">
              <br class="first" />
              Радикальные изменений, <br class="second"> такие как изменение <br class="second"> несущей конструкции <br class="second">
              <br class="first" />
              здания, перепланировка основных <br class="second"> помещений, полная смена <br class="first" />
              концепции <br class="second"> интерьера в стоимость не входят <br class="second"> и оплачиваются <br class="first" />
              дополнительно.
            </p>
            <br class="first" />
            <br class="first" />Передаваемое вами ТЗ <br class="second"> должно быть, по возможности, полным <br class="second"> и
            подробным, <br class="first" />
            чтобы мы <br class="second"> могли максимально точно выполнить <br class="second"> поставленную задачу.
            <br class="first" />
            <br class="first" /> <br class="second">Нам настолько нравятся <br class="second"> наши работы, что мы просто <br class="second"> не можем не
            <br class="first" />
            поделиться ими, <br class="second"> поэтому по завершению проекта <br class="second"> мы обычно размещаем <br class="second">
            его <br class="first" />
            в нашем портфолио <br class="second"> на сайте, со ссылкой на заказчика.
            <br class="first" />
            <br class="first" />
            <p class="important__text">
              Если вам требуется конфиденциальность, <br class="second"> это нужно обозначить
              заранее.
            </p>
          </div>
        </div>
      </div>
      <div class="acordion">
        <div class="acordion-header">
          <svg
            class="acordion-icon"
            width="19.535522"
            height="32.000000"
            viewBox="0 0 19.5355 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <desc>Created with Pixso.</desc>
            <defs />
            <line
              id="Line90"
              x1="17.767761"
              y1="17.767578"
              x2="1.767761"
              y2="1.767578"
              stroke="#E74214"
              stroke-opacity="1.000000"
              stroke-width="5.000000"
            />
            <line
              id="Line91"
              x1="17.767761"
              y1="14.232422"
              x2="1.767761"
              y2="30.232422"
              stroke="#E74214"
              stroke-opacity="1.000000"
              stroke-width="5.000000"
            />
          </svg>
          <h2 class="acordion-header-title important__title">
            ГАРАНТИИ <br class="second" />
            ПРОПИСАННЫЕ В <br class="second" /> ДОГОВОРЕ
          </h2>
        </div>
        <div class="acordion-content">
          <div class="acordion-content-descr text-p-large">
            Мы прописываем в договоре <br class="second"> следующие аспекты работы:
            <br class="first" />
            <br class="first" />
            <p class="important__text">
              цена <br class="first" /> <br class="second">
              сроки <br class="first" /> <br class="second">
              гарантированное количество правок <br class="first" /> <br class="second">
              количество и характеристики <br class="second"> финальных изображений / видео
              <br class="first" /> <br class="second">
              техническая поддержка <br class="second"> VR-туров, если это необходимо
            </p>
            <br class="first" />
            <a class="important__link" href="#">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="10" cy="10" r="9.5" stroke="#EA4C14" />
                <path
                  d="M9.67267 11.3273C9.85345 11.5081 10.1465 11.5081 10.3273 11.3273L13.2733 8.38139C13.454 8.20061 13.454 7.90751 13.2733 7.72673C13.0925 7.54595 12.7994 7.54595 12.6186 7.72673L10 10.3453L7.38139 7.72673C7.20061 7.54595 6.90751 7.54595 6.72673 7.72673C6.54595 7.90751 6.54595 8.20061 6.72673 8.38139L9.67267 11.3273ZM9.53709 5V11H10.4629V5H9.53709Z"
                  fill="#EA4C14"
                />
                <path
                  d="M6.5 11V13H13.5V11"
                  stroke="#EA4C14"
                  stroke-linecap="round"
                />
              </svg>
              Скачать пример договора</a
            >
          </div>
        </div>
      </div>
      <div class="acordion">
        <div class="acordion-header">
          <svg
            class="acordion-icon"
            width="19.535522"
            height="32.000000"
            viewBox="0 0 19.5355 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <desc>Created with Pixso.</desc>
            <defs />
            <line
              id="Line90"
              x1="17.767761"
              y1="17.767578"
              x2="1.767761"
              y2="1.767578"
              stroke="#E74214"
              stroke-opacity="1.000000"
              stroke-width="5.000000"
            />
            <line
              id="Line91"
              x1="17.767761"
              y1="14.232422"
              x2="1.767761"
              y2="30.232422"
              stroke="#E74214"
              stroke-opacity="1.000000"
              stroke-width="5.000000"
            />
          </svg>
          <h2 class="acordion-header-title important__title">СТРУКТУРА <br class="second" /> РАБОТЫ</h2>
        </div>
        <div class="acordion-content">
          <div class="acordion-content-descr text-p-large">
            <p class="important__text">Создание основного объема сцены</p>
            без материалов, текстур, элементов <br class="second"> <br class="first" />
            декора фасадов, малых архитектурных <br class="second"> форм и элементов
            <br class="first" />
            благоустройства. <br class="second"> Размер изображений – 1500px <br class="second"> по длинной стороне. <br class="second">
            <br class="first" />
            Вами утверждаются <br class="second"> правильность геометрии <br class="second"> и ракурсы, вносятся первые
            <br class="first" />
            правки. <br class="second"> К правкам относятся <br class="second"> незначительные изменения в деталях
            <br class="first" /> <br class="second">
            здания или сооружения, <br class="second"> материалах и текстурах отделки.
            <br class="first" /><br class="second">
            <br class="first" />
            <p class="important__text">
              Модель с материалами, <br class="second"> текстурами и основными <br class="second"> элементами
              благоустройства.
            </p>
            Размер изображений – 1500px <br class="second"> по длинной стороне. <br class="second"> <br class="first" />
            Утверждаются материалы и основные <br class="second"> элементы наполнения сцены. <br class="second">
            <br class="first" />
            Проходит второй <br class="second"> этап корректировок. <br class="first" />
            <br class="first" />
            <p class="important__text">
              Полное наполнение <br class="second"> сцены, проработка деталей.
            </p>
            <br class="first" />
            Размер изображений – <br class="first" /><br class="second">
            1500px по длинной стороне. <br class="second"> Внесение окончательных <br class="second"> незначительных
            правок. <br class="second"> Согласование финального <br class="second"> варианта композиций и материалов. <br class="second">
            <br class="first" />
            <br class="first" />
            <p class="important__text">Создание финальных изображений.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
