<section class="partners">
    <div class="container">
        <h2 class="partners__title">НАШИ ПАРТНЕРЫ</h2>
        <ul class="partners__top">
            <li class="partners__item">
                <img src="./assets/icons/partners/icon-1.svg" alt="">
            </li>
            <li class="partners__item">
                <img src="./assets/icons/partners/icon-2.svg" alt="">
            </li>
            <li class="partners__item">
                <img src="./assets/icons/partners/icon-3.svg" alt="">
            </li>
            <li class="partners__item">
                <img src="./assets/icons/partners/icon-4.svg" alt="">
            </li>
            <li class="partners__item">
                <img src="./assets/icons/partners/icon-5.svg" alt="">
            </li>
            <li class="partners__item">
                <img src="./assets/icons/partners/icon-6.svg" alt="">
            </li>
            
        </ul>
        <ul class="partners__bottom">
            <li class="partners__item">
                <img src="./assets/icons/partners/icon-7.svg" alt="">
            </li>
            <li class="partners__item">
                <img src="./assets/icons/partners/icon-8.svg" alt="">
            </li>
            <li class="partners__item">
                <img src="./assets/icons/partners/icon-9.svg" alt="">
            </li>
            <li class="partners__item">
                <img src="./assets/icons/partners/icon-10.svg" alt="">
            </li>
            <li class="partners__item">
                <img src="./assets/icons/partners/icon-11.svg" alt="">
            </li>
            <li class="partners__item">
                <img src="./assets/icons/partners/icon-12.svg" alt="">
            </li>
        </ul>

        <h2 class="partners__subtitle">ПОЛУЧИТЕ РАСЧЕТ СТОИМОСТИ ВАШЕГО ПРОЕКТА В ДЕНЬ ЗАЯВКИ</h2>
        <a class="projects__link popup-link partners__btn" href="#popup">Оставить заявку</a>
    </div>
</section>