<section class="proces">
  <div class="container">
    <h2 class="proces__title">5 ШАГОВ РАБОТЫ С НАМИ</h2>
    <ul class="proces__list">
      <li class="proces__item">
        1
        <p class="proces__item-text">
          Оставьте <br />
          заявку
        </p>
      </li>
      <li class="proces__img">
        <img src="./assets/icons/row.svg" alt="#">
      </li>
      <li class="proces__item">
        2
        <p class="proces__item-text">
          Получите <br />
          бесплатный расчет <br />
          стоимости и сроков
        </p>
      </li>
      <li class="proces__img">
        <img src="./assets/icons/row.svg" alt="#">
      </li>
      <li class="proces__item">
        3
        <p class="proces__item-text">
          Заключите договор <br />
          и внесите аванс
        </p>
      </li>
      <li class="proces__img">
        <img src="./assets/icons/row.svg" alt="#">
      </li>
      <li class="proces__item">
        4
        <p class="proces__item-text">
          Мы разработаем <br />
          визуализации
        </p>
      </li>
      <li class="proces__img">
        <img src="./assets/icons/row.svg" alt="#">
      </li>
      <li class="proces__item">
        5
        <p class="proces__item-text">
          Получите <br />
          готовые материалы
        </p>
      </li>
    </ul>
        <a class="proces__link popup-link" href="#popup">Оставить заявку</a>
  </div>
</section>
