<section class="proces">
  <div class="container">
    <h2 class="proces__title">5 шагов работы с нами</h2>
    <ul class="proces__list">
      <li class="proces__item">
        1
        <p class="proces__item-text">
          Оставьте <br />
          заявку
        </p>
      </li>
      <li class="proces__img">
        <img src="./assets/icons/row.svg" alt="#">
      </li>
      <li class="proces__item">
        2
        <p class="proces__item-text">
          Получите <br />
          бесплатный расчет <br />
          стоимости и сроков
        </p>
      </li>
      <li class="proces__img">
        <img src="./assets/icons/row.svg" alt="#">
      </li>
      <li class="proces__item">
        3
        <p class="proces__item-text">
          Заключите договор <br />
          и внесите аванс
        </p>
      </li>
      <li class="proces__img">
        <img src="./assets/icons/row.svg" alt="#">
      </li>
      <li class="proces__item">
        4
        <p class="proces__item-text">
          Мы разработаем <br />
          визуализации
        </p>
      </li>
      <li class="proces__img">
        <img src="./assets/icons/row.svg" alt="#">
      </li>
      <li class="proces__item">
        5
        <p class="proces__item-text">
          Получите <br />
          готовые материалы
        </p>
      </li>
    </ul>
        <a class="proces__link popup-link" href="#popup">Оставить заявку</a>
  </div>
  <div id="popup" class="popup">
    <div class="popup__body">
        <div class="popup__content">
            <a class="popup__close close-popup" href="#proces">X</a>
            <div class="get-started__form-wrapper">
                <h3 class="get-started__form-title heading-h4">
                  Давайте работать с нами
                </h3>
                <p class="get-started__form-text text-p-medium">
                  Вы можете обратится к нам в любое время
                  <a
                    class="get-started__form-link"
                    href="mailto:hellosansbrothers@gmail.com"
                    >project@bimpro.ru</a
                  >
                </p>
                <form class="get-started__form">
                  <div class="get-started__form-top">
                    <label class="get-started__form-label text-p-small">
                      <span class="get-started__form-label-text text-p-small">Имя</span>
                      <input
                      required
                        class="get-started__form-input get-started__form-input--small"
                        name="Имя"
                        type="text"
                        placeholder="Имя"
                      />
                    </label>
                    <label class="get-started__form-label text-p-small">
                      <span class="get-started__form-label-text text-p-small">Фамилия</span>
                      <input
                      required
                        class="get-started__form-input get-started__form-input--small"
                        name="Фамилия"
                        type="text"
                        placeholder="Фамилия"
                      />
                    </label>
                  </div>
                  <label class="get-started__form-label text-p-small">
                      <span class="get-started__form-label-text text-p-small">Email</span>
                      <input
                      required
                        class="get-started__form-input"
                        name="Email"
                        type="text"
                        placeholder="you@company.com"
                      />
                    </label>
                  <label class="get-started__form-label text-p-small">
                      <span class="get-started__form-label-text text-p-small">Номер телефона</span>
                      <input
                      id="phone"
                      type="tel"
                      class="get-started__form-input text-p-small"
                      required
                      name="phone"
                      required
                    />
                    </label>
                  <label class="get-started__form-label text-p-small">
                      <span class="get-started__form-label-text text-p-small">Коментарий</span>
                      <textarea
                      class="get-started__form-input get-started__form-input--textarea text-p-small" name="Message" placeholder="Оставьте нам сообщение..." required>
                    </textarea>
                    </label>
                    
                </form>
                <button class="get-started__form-btn button-form">Оставить заявку</button>
              </div>
        </div>
    </div>
  </div>
</section>
