<section class="projects">
    <div class="container">
        <h2 class="projects__title">КАКИЕ ПРОЕКТЫ МЫ УЖЕ РЕАЛИЗОВАЛИ?</h2>

<div class="projects__wrapper">
           <ul class="projects__list-left">
            <li class="projects__item"><img src="./assets/images/grid/image-1.jpg" alt="Реализованый проект компании"></li>
            <li class="projects__item projects__item--light"><img src="./assets/images/grid/image-3.jpg" alt="Реализованый проект компании"></li>
            <li class="projects__item"><img src="./assets/images/grid/image-5.jpg" alt="Реализованый проект компании"></li>
           </ul>
           <ul class="projects__list-right">
            <li class="projects__item"><img src="./assets/images/grid/image-2.jpg" alt="Реализованый проект компании"></li>
            <li class="projects__item"><img src="./assets/images/grid/image-4.jpg" alt="Реализованый проект компании"></li>
            <li class="projects__item"><img src="./assets/images/grid/image-6.jpg" alt="Реализованый проект компании"></li>
           </ul>
</div>
<a class="projects__link popup-link" href="#popup">Оставить заявку</a>

<div class="projects__info">
    <h2 class="projects__info-title">СЛОВО РУКОВОДИТЕЛЯ</h2>
    
    <div class="projects__info-masage">
        <p class="projects__info-masage-descr">Мы знаем, как важно наличие качественных визуализаций для реализации недвижимости в современном мире, поэтому делаем продукт в полном соответствии с высоким стандартом, что помогает повысить привлекательность проекта и привлечь новых клиентов на популярных площадках. <br>
            <br>
            Вдыхаем жизнь в каждый рендер и даем возможность потребителю увидеть объект еще до его реализации - это то, что мы по настоящему любим и умеем.</p>
        <div class="projects__info-masage-avatar">
            <img src="./assets/images/avatar.jpg" alt="">
            <h5 class="projects__info-masage-avatar-title">Максим Никитин</h5>
            <p class="projects__info-masage-avatar-subtitle">Ведущий визуализатор</p>
        </div>
    </div>
</div>
    </div>
</section>

