<section class="team" id="team">
    <div class="container">
        <h2 class="team__title">КОМАНДА BIMPRO</h2>
        <p class="team__subtitle">Главные действующие лица, именно они создают визуализации и наполняют кадр жизнью.</p>

        <div class="team__top">
            <div class="team__top-left">
                <div class="team__eployee">
                    <div class="team__eployee-img">
                        <img src="./assets/images/team/image-1.svg" alt="Фотография сотрудника">
                    </div>
                    <div class="team__eployee-info">
                        <h5 class="team__eployee-info-title">Никитин Максим</h5>
                        <p class="team__eployee-info-subtitle text-p-medium">Ведущий визуализатор</p>
                    </div>
                </div>
                <div class="team__eployee">
                    <div class="team__eployee-img">
                        <img src="./assets/images/team/image-2.svg" alt="Фотография сотрудника">
                    </div>
                    <div class="team__eployee-info">
                        <h5 class="team__eployee-info-title">Ратникова Екатерина</h5>
                        <p class="team__eployee-info-subtitle text-p-medium">Художник-визуализатор</p>
                    </div>
                </div>
            </div>
            <div class="team__top-right">
                <div class="team__eployee">
                    <div class="team__eployee-img">
                        <img width="283" height="394" src="./assets/images/team/image-3.svg" alt="Фотография сотрудника">
                    </div>
                    <div class="team__eployee-info">
                        <h5 class="team__eployee-info-title">Полина Мустафина</h5>
                        <p class="team__eployee-info-subtitle text-p-medium">Художник-визуализатор</p>
                    </div>
                </div>
                <div class="team__eployee">
                    <div class="team__eployee-img">
                        <img width="283" height="394" src="./assets/images/team/image-4.svg" alt="Фотография сотрудника">
                    </div>
                    <div class="team__eployee-info">
                        <h5 class="team__eployee-info-title">Егоров Александр</h5>
                        <p class="team__eployee-info-subtitle text-p-medium">Архитектор</p>
                    </div>
                </div>
            </div>
            
            
        </div>
            
        <div class="team__bottom">
            <div class="team__bottom-left">
                <div class="team__eployee">
                    <div class="team__eployee-img">
                        <img width="283" height="394" src="./assets/images/team/image-5.svg" alt="Фотография сотрудника">
                    </div>
                    <div class="team__eployee-info">
                        <h5 class="team__eployee-info-title">Анна Бендер</h5>
                        <p class="team__eployee-info-subtitle text-p-medium">Визуализатор-моделлер</p>
                    </div>
                </div>
                <div class="team__eployee">
                    <div class="team__eployee-img">
                        <img width="283" height="394" src="./assets/images/team/image-6.svg" alt="Фотография сотрудника">
                    </div>
                    <div class="team__eployee-info">
                        <h5 class="team__eployee-info-title">Ксения Воронцова</h5>
                        <p class="team__eployee-info-subtitle text-p-medium">Художник-визуализатор</p>
                    </div>
                </div>
            </div>
            <div class="team__bottom-right">
                <div class="team__eployee">
                    <div class="team__eployee-img">
                        <img src="./assets/images/team/image-7.svg" alt="Фотография сотрудника">
                    </div>
                    <div class="team__eployee-info">
                        <h5 class="team__eployee-info-title">Светлана Михеева</h5>
                        <p class="team__eployee-info-subtitle text-p-medium">Руководитель проекта</p>
                    </div>
                </div>
                <div class="team__eployee">
                    <div class="team__eployee-img">
                        <img src="./assets/images/team/image-8.svg" alt="Фотография сотрудника">
                    </div>
                    <div class="team__eployee-info">
                        <h5 class="team__eployee-info-title">Андрей Кудрин</h5>
                        <p class="team__eployee-info-subtitle text-p-medium">Bim-менержер</p>
                    </div>
                </div>
            </div>
            
            
        </div>
        
        
    </div>
</section>