<section class="visual">
  <div class="visual__container container">
    <div class="visual__info">
      <h1 class="visual__info-title heading-h1">
        Визуализация <br />
        Любой <br />
        Сложности
      </h1>
      <p class="visual__info-subtitle text-p-medium">
        Создадим 3D Визуализации, презентационные <br />
        интерактивные и VR-материалы, анимации, <br />
        жилой и коммерческой недвижимости.
      </p>
      <button class="visual__info-btn popup-link" href="#popup">Расчитать стоимость проекта</button>
    </div>

    <div class="slider">
        <div class="swiper visual__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./assets/images/visual-slider/1-slide.png" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./assets/images/visual-slider/2-slide.png" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./assets/images/visual-slider/3-slide.png" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./assets/images/visual-slider/4-slide.png" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./assets/images/visual-slider/5-slide.png" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./assets/images/visual-slider/6-slide.png" alt="" />
            </div>
          </div>
          <div class="scrollbar">
            <div class="swiper-scrollbar"></div>
        </div>
        </div>
    </div>
  </div>
</section>
