.header {
    padding: 33px 0 35px;
    background: #222224;
    border-bottom: 3px solid #d9d9d9;
  
    @include mobile {
      padding: 22px 0 18px;
    }
  
    &__container {
      @include flex-all-between;
    }
  
    &__logo {
      position: relative;
      z-index: var(--z-index-4);
  
      & svg {
        @include mobile {
          max-width: 130px;
        }
      }
    }
  
    &__right {
      @include flex-align-center;
  
      
  
      @include tablet {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        z-index: var(--z-index-3);
        top: 0px;
        left: -100vw;
        height: 100dvh;
        width: 80dvw;
        background-color: #2e2e31;
        opacity: 0;
        visibility: hidden;
        transition:
          left var(--transition),
          opacity var(--transition),
          visibility var(--transition);
  
        &--visible {
          left: 0px;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  
  
      &-text {
        position: absolute;
        top: -24px;
        left: 50%;
        font-weight: 600;
        line-height: 150%;
        text-align: center;
        color: var(--neutral-color-140);
        transform: translateX(-50%);
  
        @include tablet {
          top: -28px;
          font-size: 20px;
        }
      }
  
      &-checkbox {
        appearance: none;
      }
  
      &:has(&-checkbox:checked) {
        background-color: var(--neutral-color-60);
  
        &::before {
          left: 38px;
          background-color: var(--primary-color-50);
        }
      }
    }
  
  
  .nav {
    &__list {
      @include flex-align-center;
      gap: 46px;
  
      @include tablet {
        gap: 32px;
        flex-direction: column;
      }
  
    }
  
    &__link {
      position: relative;
      font-weight: 400;
      font-size: 20px;
      line-height: 162%;
      color: #efefef;
  
  
  
      &::before {
        content: '';
        bottom: -48px;
        left: 0;
        position: absolute;
        width: 0%;
        height: 1px;
        background: #ea4c14;
        -webkit-box-shadow: 0px 0px 26px 23px rgba(1, 3, 4, 0.25) inset;
        -moz-box-shadow: 0px 0px 26px 23px rgba(1, 3, 4, 0.25) inset;
        box-shadow: 0px 0px 26px 23px rgba(1, 3, 4, 0.25) inset;
        transition: 0.4s;
  
        @include tablet {
          bottom: -27px;
          left: 0;
        }
        @include mobile {
          bottom: -10px;
          left: 0;
        }
      }
  
      &:hover::before {
        width: 100%;
        height: 5px;
        border-radius: 20px;
      }
    }
  }
  
  .overlay {
    @include tablet {
      position: fixed;
      inset: 0;
      background-color: #000000b3;
      z-index: var(--z-index-2);
      opacity: 0;
      visibility: hidden;
      transition:
        opacity var(--transition),
        visibility var(--transition);
  
      &--visible {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  
  .burger {
    @include burger;
  }