<footer class="footer">
    <section class="footer-section">
        <div class="footer__top">
            <div class="container">
                <div class="footer__top-inner">
                    <div class="footer__logo" href="#">
                        <img src="./assets/icons/logo.svg" alt="Логотип компании BimPro">
                    </div>
                    <nav class="footer__nav">
                        <ul>
                            <li>
                                <a href="#program">
                                    Услуги
                                </a>
                            </li>
                            <li>
                                <a href="#gallery">
                                    Преимущества
                                </a>
                            </li>
                            <li>
                                <a href="#testimonials">
                                    Проекты
                                </a>
                            </li>
                            <li>
                                <a href="#testimonials">
                                    Команда
                                </a>
                            </li>
                            <li>
                                <a href="#testimonials">
                                    Гарантии
                                </a>
                            </li>
                            <li>
                                <a href="#contact">
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="footer__contacts">
                        <a href="#tel:+78123301040">
                            +7 812 330 10 40
                        </a>
                        <a href="email">
                            project@bimpro.ru
                        </a>
                    </div>
                </div>
                <div class="footer__direction">
                    <div class="container">
                        <div class="directions">
                            <span>Другие наши направления:</span>
                            <a class="footer__direction-link" href="#">
                                Проектирование
                            </a>
                            <a class="footer__direction-link" href="#">
                                Дизайн
                            </a>
                        </div>
                        <div class="footer__address">
                            <a href="#">
                                г. Санкт-Петербург, Шпалерная ул. д. 51
                            </a>
                            <div>
                                <span>
                                    ПН-ПТ 9:00 — 18:00
                                </span>
                                <span>
                                    СБ, ВС — Выходные
                                </span>
                            </div>
                        </div>
                        <div class="map__contacts">
                            <img src="./assets/images/MAP.jpg" alt="map">
                            <div class="madrid">
                                <ul>
                                    <li>Calle Gravina 21, Bajo 3</li>
                                    <li>Madrid</li>
                                    <a href="#tel:+34657572565">
                                        +34 657 57 25 65
                                    </a>
                                    <a href="#tel:+34653533568">
                                        +34 653 53 35 68
                                    </a>
                                </ul>
                            </div>
                            <div class="munich">
                                <ul>
                                    <li>Zentnerstraße 35</li>
                                    <li>Múnich</li>
                                    <a href="#tel:+4915732540621">
                                        +49 157 325 40 621
                                    </a>
                                    <a href="#tel:+4915770306271">
                                        +49 157 703 06 271
                                    </a>
                                </ul>
                            </div>
                            <div class="astana">
                                <ul>
                                    <li>Мекен Жайы 5 Көше</li>
                                    <li>Астана</li>
                                    <a href="#tel:+34657572565">
                                        +34 657 57 25 65
                                    </a>
                                    <a href="#tel:+34653533568">
                                        +34 653 53 35 68
                                    </a>
                                </ul>
                            </div>
                        </div>
                        <div class="rights">
                            <span>
                                Все права защищены ООО ”БИМПРО”
                            </span>
                            <a href="#">
                                Политика конфиденциальности
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
