<div class="overlay" data-burger="overlay"></div>
<header class="header">
  <h1 class="hidden">Digital Marketing Website. {=$title} page</h1>

  <div class="container header__container">
    <div class="header__logo-wrapper">
        <a href="/BIM-PRO/" class="header__logo" aria-label="Home Page">
            <img src="./assets/icons/logo.svg" alt="Логотип Bim-Pro">
        </a>
    </div>

    <div class="header__right" data-burger="menu">
      <nav class="nav header__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="/" class="nav__link"> Услуги </a>
          </li>
          <li class="nav__item">
            <a href="/Koka/about.html" class="nav__link">
              Преимущества
            </a>
          </li>
          <li class="nav__item">
            <a href="/Koka/contact.html" class="nav__link">
              Проекты
            </a>
          </li>
          <li class="nav__item">
            <a href="/Koka/pricing.html" class="nav__link">
              Команда
            </a>
          </li>
          <li class="nav__item">
            <a href="/Koka/activity.html" class="nav__link">
              Гарантии
            </a>
          </li>
          <li class="nav__item">
            <a href="/Koka/blog.html" class="nav__link">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="nav__item-contacts">
        <a href="tel:+78123301040">
            +7 812 330 10 40
            </a>
            <a href="email">
            project@bimpro.ru
        </a>
    </div>
    <button class="burger" data-burger="btn" aria-label="Burger menu">
      <span class="burger__line"></span>
    </button>
  </div>
</header>
