<div id="popup" class="popup">
    <div class="popup__body">
        <div class="popup__content">
            <a class="popup__close close-popup" href="#proces">X</a>
            <div class="modal__form-wrapper">
                <h3 class="modal__form-title heading-h4">
                  Давайте работать с нами
                </h3>
                <p class="modal__form-text text-p-medium">
                  Вы можете обратится к нам в любое время
                  <a
                    class="modal__form-link"
                    href="mailto:hellosansbrothers@gmail.com"
                    >project@bimpro.ru</a
                  >
                </p>
                <form class="modal__form">
                  <div class="modal__form-top">
                    <label class="modal__form-label text-p-small">
                      <span class="modal__form-label-text text-p-small">Имя</span>
                      <input
                      required
                        class="modal__form-input get-started__form-input--small"
                        name="Имя"
                        type="text"
                        placeholder="Имя"
                      />
                    </label>
                    <label class="modal__form-label text-p-small">
                      <span class="modal__form-label-text text-p-small">Фамилия</span>
                      <input
                      required
                        class="modal__form-input get-started__form-input--small"
                        name="Фамилия"
                        type="text"
                        placeholder="Фамилия"
                      />
                    </label>
                  </div>
                  <label class="modal__form-label text-p-small">
                      <span class="modal__form-label-text text-p-small">Email</span>
                      <input
                      required
                        class="modal__form-input"
                        name="Email"
                        type="text"
                        placeholder="you@company.com"
                      />
                    </label>
                  <label class="modal__form-label text-p-small">
                      <span class="modal__form-label-text text-p-small">Номер телефона</span>
                      <input
                      id="phone"
                      type="tel"
                      class="modal__form-input text-p-small"
                      required
                      name="phone"
                      required
                    />
                    </label>
                  <label class="modal__form-label text-p-small">
                      <span class="modal__form-label-text text-p-small">Коментарий</span>
                      <textarea
                      class="modal__form-input modal__form-input--textarea text-p-small" name="Message" placeholder="Оставьте нам сообщение..." required>
                    </textarea>
                    </label>
                    
                </form>
                <button class="modal__form-btn button-form">Оставить заявку</button>
              </div>
        </div>
    </div>
  </div>