.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 2;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  opacity: 1;
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  position: relative;
  background-color: #222224;
  border-radius: 20px;
  @include flex-all-center;
  width: 50rem;
  height: 55rem;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);

  @include tablet {
    width: 35rem;
    
  }
}

.popup__close {
  position: absolute;
  color: #ea4c14;
  font-size: 40px;
right: 1rem;
top: 1rem;


}

.modal {
  &__form {
    @include mobile {
      @include flex-column-all-center;
    }

    &-wrapper {
      padding: 56px 48px;
      background-color: #fff;
      border: 6px solid #ea4c14;
      border-radius: 20px;

      @include tablet {
        max-width: 25rem;
        padding: 36px 28px;
      }
      @include mobile {
        max-width: 20rem;
        padding: 26px 18px;
      }
    }

    &-title {
      text-align: center;
      margin-bottom: 20px;
      font-weight: 600;
      letter-spacing: -0.02em;
      color: var(--neutral-color-100);

      @include small-tablet {
        margin-bottom: 10px;
      }
    }
    &-text {
      font-weight: 400;
      margin-bottom: 48px;
      line-height: 167%;
      color: var(--neutral-color-150);

      @include small-tablet {
        margin-bottom: 20px;
      }
    }

    &-link {
      font-weight: 500;
      color: var(--primary-color-30);
    }

    &-top {
      @include flex-all-between;
      gap: 12px;

      @include small-tablet {
        gap: 6px;
      }

      @include mobile {
        gap: 0;
        flex-direction: column;
        width: 100%;
      }
    }
    &-label {
      @include flex-column;
      margin-bottom: 24px;
      width: 100%;

      &-text {
        display: inline-block;
        margin-bottom: 6px;
        font-weight: 500;
        line-height: 143%;
        color: #1d1e25;
      }
    }
    &-input {
      width: 100%;
      border: 1px solid #ededed;
      border-radius: 8px;
      padding: 10px 14px;
      height: 44px;
      font-weight: 400;
      font-size: 14px;
      line-height: 171%;
      color: #7e8492;


      &--textarea {
        outline: none;
        resize: none;
        height: 134px;

        @include mobile {
            height: 74px;
        }
      }
    }
    &-btn {
      @include flex-all-center;
      margin: 0 auto;
      background-color: #222224;
      border-radius: 6px;
      padding: 4px 35px 0px 35px;
    width: 17rem;
    height: 4rem;

      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0.01em;
      color: #fff;
      text-align: center;

      &:hover {
        background: #ea4c14;
        transition: all 0.6s;
      }

      
    }
  }
}
